{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@": "./src",
        "gameobjects": "./src/gameobjects",
        "scenes": "./src/scenes",
        "utils": "./src/utils"
      }
    }]
  ]
} 